aiosqlite==0.21.0
bs4==0.0.2
elastic-transport==8.17.1
elasticsearch==8.19.0
elasticsearch-dsl==8.18.0
faiss-cpu==1.11.0.post1
fastapi==0.116.1
markdown-it-py==3.0.0
milvus-lite==2.5.1
mysql-connector-python==9.4.0
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
openai==1.78.1
opentelemetry-instrumentation-fastapi==0.57b0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pymilvus==2.6.0
PyPDF2==3.0.1
redis==6.4.0
sqlparse==0.5.3
tiktoken==0.11.0
torch==2.7.0+cu128
torchaudio==2.7.0+cu128
torchvision==0.22.0+cu128
